// Entier
$integer = 5

// Booléen
$boolean = true

// Mesure
$length = 15px

// Couleur
$color = #BADA55

// Chaine de caractères
$string = 'images/ma-super-image.jpg'

.just-a-test
  width $integer
  display $boolean
  height $length
  color $color
  background-image $string