$color = #2ecc71;
$lighten = lighten($color, 15); // #69dd9a
$darken = darken($color, 15); // #208e4e
$transp = rgba($color,  .5); // rgba(46, 204, 113, 0.5)

.mon-element
  color $color
  color-lighten $lighten
  color-darken $darken
  color-transp $transp